*{padding: 0;margin: 0; text-decoration: none;}
body{background: #F3F3F3;}
.acl{
	color: #666;
}
// ul{
// 	display: block;
//     list-style-type: disc;
//     -webkit-margin-before: 1em;
//     -webkit-margin-after: 1em;
//     -webkit-margin-start: 0px;
//     -wesbkit-margin-end: 0px;
//     -webkit-padding-start: 40px;
// }

.wrap1{
    width: 1200px;
    margin: 0 auto;
    overflow:hidden;
	.breadcrumbs{
	padding: 16px 10px;
	}
	.mleft{
    width: 205px;
    float: left;
	.category {
    width: 165px;
    padding: 10px 20px;
    text-align: center;
    background: #FFFFFF;
    margin-bottom: 10px;
    .category_name {
    border-bottom: 3px solid #e5e5e5;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    .sp1{
    display: inline-block;
    border-bottom: 3px solid #e5004b;
    margin-bottom: -3px;
    }
	}
	.category_list{
		text-align:center;
		.li1{
			padding: 8px 0;
    		border-bottom: 1px solid #e5e5e5;
    		.ab{
    			font-size:14px;
    		}
		}
	}
	}
	}
	.mright{
	width: 985px;
    float: left;
    margin-left: 10px;
    .choose{
    background-color: #FFFFFF;
    padding: 6px;
    border: none;
    padding: 4px 0;
    overflow:hidden;
    ul{
        overflow:hidden;
    }
    .baili{
    float: left;
    width: 218px;

    /* height: 328px; */
    height: 325px;
    border: 1px solid #CCCCCC;
    margin: 26px;
    }
    .baibox{
    display: block;
    background-color: #F88CB7;
    width: 210px;
    /* height: 320px; */
    height: 317px;
    padding: 4px;
    text-decoration: none;
    position: relative;
    top: 0;
    left: 0;
    .gdbox{
    width: 210px;
    /* height: 280px; */
    height: 300px;
    overflow: hidden;
    background-color: #FFFFFF;
        .gdimg{
            width: 210px;
            height: 210px;
            position: relative;
            max-width: 100%;
            .ig1{
                height:210px;
                width:210px;
            }
            .price_spread{
            width: 77px;
            height: 77px;
            position: absolute;
            top: 0px;
            right: 0px;
            .spread{
            width: 42px;
            position: absolute;
            top: 15px;
            right: 19px;
            color: #fff;
            font-size: 14px;
            text-align: center;
            }
            }
        }
        .gds{
            border-top: 1px dashed #CCCCCC;
            color: #333333;
            width: 200px;
            line-height: 20px;
            height: 40px;
            /* padding: 10px 5px 0 5px; */
            padding: 5px 5px 0 5px;
            overflow: hidden;
            margin-top: 22px;
            background-color: #FFFFFF;
        }
        .gprice{
        display: inline-block;
        border-top: 1px dashed #DDDDDD;
        padding: 4px;
        width: 202px;
        background-color: #fff;
        position: absolute;
        bottom: 4px;
        left: 4px;
        z-index: 30;
        text-align: left;
        .span1,.span2,.span3{
            color:#CB0101;
            font-size: 18px;
        }
        }
    }
    }
    	.coli{
    	border-top: 1px solid #e9e9e9;
    	position: relative;
    	overflow:hidden;
    		.lbb1{
    		    color: #333333;
			    font-weight: bold;
			    text-align: left;
			    margin-left: 10px;
			    line-height: 30px;
			    padding-right: 18px;
			    white-space: nowrap;
			    background-position: 90px -128px;
			   	text-overflow: ellipsis;
    			overflow: hidden;
    			float:left;
				}
			.tagbox{
				width: 820px;
			    padding-left: 20px;
			    overflow: hidden;
			    float: left;
                .avc{
                    float: left;
                    padding: 3px 32px 3px 0;
                    display: block;
                    white-space: nowrap;
                    color: #666;
                    text-decoration: none;
                    }
			}	
    	}

    	}
        .choose_bottom{
            background-color: #FFFFFF;
            padding: 6px;
            margin: 3px 0 0 0;
            border: none;
            overflow:hidden;
            .f1{
            float: left;
            overflow:hidden;
            .choose_titile{
                display: block;
                font-size: 14px;
                font-weight: bold;
                margin: 1px 10px;
                float: left;
            }
            .choose_item {
            display: inline-block;
            width: 200px;
            float: left;
                }
            button{
            margin: 0 8px;
            background-color: #FFF;
            padding: 0 5px;
            border: none;
            }    
            }
        }
    	}
    }
	









